@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply bg-gray-500;
  @apply text-sm;
  @apply text-gray-900
}